@import 'tailwindcss';

@plugin '@tailwindcss/typography';
@plugin '@iconify/tailwind4' {
  scale: 1.3;
}

@font-face {
  font-family: 'fredoka';
  src: url('$lib/assets/fonts/fredoka/static/Fredoka-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'chivomono';
  src: url('$lib/assets/fonts/chivo-mono/static/ChivoMono-Regular.ttf') format('truetype');
}

@theme {
  --color-*: initial;
  /* tailwind colors */
  --color-base-900: oklch(21% 0.006 285.885);
  --color-base-800: oklch(27.4% 0.006 286.033);
  --color-base-700: oklch(37% 0.013 285.805);
  /* catppuccin colors */
  --color-primary: #b4befe;
  --color-content: #cdd6f4;
  --color-success: #a6e3a1;
  --color-error: #f38ba8;

  --font-theme: 'fredoka', 'ui-sans-serif', 'sans-serif', 'system-ui';
  --font-mono: 'chivomono', 'ui-sans-serif', 'sans-serif', 'system-ui';

  /* 0.75rem for rounded-xl */
  --radius-layout: 0.5rem;
  /* 0.375rem for rounded-md */
  --radius-box: 0.25rem;
}

/* div colors */
@theme {
  --color-div-wood: #f2cdcd;
  --color-div-steel: #cdd6f4;
  --color-div-bronze: #fab387;
  --color-div-silver: #f5e0dc;
  --color-div-gold: #f9e2af;
  --color-div-platinum: #74c7ec;
  --color-div-diamond: #94e2d5;
}
@source inline('text-div-{wood,steel,bronze,silver,gold,platinum,diamond}');
@source inline('bg-div-{wood,steel,bronze,silver,gold,platinum,diamond}');

/* reverse spin for spinning logo */
@theme {
  --animate-reverse-spin: reverse-spin 1s infinite;
  @keyframes reverse-spin {
    from {
      transform: rotate(360deg);
    }
  }
}

@layer base {
  :root {
    @apply bg-base-900 font-theme text-base leading-snug text-content selection:bg-primary/50 selection:text-content;
  }

  input,
  button {
    @apply outline-0 focus:outline-0;
  }

  .filter-lavender {
    filter: brightness(0) saturate(100%) invert(97%) sepia(49%) saturate(6023%) hue-rotate(179deg)
      brightness(100%) contrast(108%);
  }

  .filter-purelavender {
    filter: brightness(0) saturate(100%) invert(68%) sepia(55%) saturate(547%) hue-rotate(197deg)
      brightness(105%) contrast(99%);
  }
}

/* tables */
@layer base {
  th,
  td {
    @apply text-center text-nowrap first:rounded-l-box last:rounded-r-box;
  }

  th {
    @apply px-1 pb-0.5;
  }

  td {
    @apply h-10 bg-base-900 px-1;
  }

  tr:hover td {
    @apply bg-base-900/50;
  }

  .table-date {
    @apply pr-3 text-end text-content/75;
  }

  .w-rank {
    @apply w-8;
  }

  .w-event {
    @apply w-64;
  }

  .w-div {
    @apply w-24;
  }

  .w-date {
    @apply w-32 pr-3 text-end;
  }

  .w-time {
    @apply w-20;
  }
}
