@import 'tailwindcss';
/* catppuccin dark */
@import '@catppuccin/tailwindcss/mocha.css';

@plugin "@iconify/tailwind4";

/* safelist */
@source inline("text-division-{wood,steel,bronze,silver,gold,platinum,diamond}");
@source inline("bg-division-{wood,steel,bronze,silver,gold,platinum,diamond}");

/* import fonts */
@font-face {
	font-family: 'dongle';
	src: url('./lib/fonts/dongle/Dongle-Light.ttf') format('truetype');
}

/* global */
@layer base {
	html {
		font-size: theme(--text-base);
		font-family: theme(--font-dongle);
		background-color: theme(--color-jfgray-900);
		color: theme(--color-ctp-lavender-50);
	}

	body {
		@apply text-3xl leading-5 selection:bg-ctp-lavender-950 selection:text-ctp-lavender-50;
	}

	span {
		@apply overflow-hidden;
	}

	th {
		@apply overflow-hidden font-normal;
	}

	td {
		@apply overflow-hidden;
	}

	.span-ellipsis {
		@apply text-nowrap overflow-ellipsis;
	}
}

/* extend tailwind theme */
@theme {
	--font-dongle: 'dongle', 'ui-sans-serif', 'sans-serif', 'system-ui';
	--color-jfgray-900: oklch(25.53% 0.006 258.36);
	--color-jfgray-800: oklch(30% 0.008 258.36);
	--color-jfgray-700: oklch(35% 0.008 258.36);

	--color-division-wood: theme(--color-ctp-flamingo);
	--color-division-bronze: theme(--color-ctp-maroon);
	--color-division-silver: theme(--color-ctp-pink);
	--color-division-gold: theme(--color-ctp-yellow);
	--color-division-platinum: theme(--color-ctp-sapphire);
	--color-division-diamond: theme(--color-ctp-teal);

	--animate-reverse-spin: reverse-spin 1s infinite;
	@keyframes reverse-spin {
		from {
			transform: rotate(360deg);
		}
	}
}
